


* {
  margin: 0%;
  padding: 0%;

}
@font-face {
  font-family: Jockey One; /* set name */
  src: url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap')}




/* style navbar */
.navToggle {
  width: 70px;
  height: 70px;
}

.navline {
  background-color: black;
  width: 50px;
  height: 10px;
  margin-bottom: 9%;
  
}

nav {
  height: 800px;
  width: 500px;
  background-color: black;
  padding: 2%;
  padding-right: 4%;
  
font-family: Jockey One;

}



.navText{
  color:#DBE1EE;
  text-align: center;
position: absolute;
margin-left: 1.5%;
margin-top: 2.5%;
margin-bottom: 5%;
background-color:#5B2F9A;
width: 450px;
}

.navMenuBox {
    background-color: #F0F0F0;
  height:150px;


   margin-bottom: 2%;
   width: 450;
}

.cube {
  height: 70px;
  width:70px;
  background-color: #F0F0F0;
  position: absolute;
  margin-top: 2.5%;
  margin-left: 1.5%
};

ul{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 75px;
 width:500px;
}
.ulFlex{
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
li{

  margin-left: 10.7%;
 color:#5B2F9A;
 font-size: 190px;
 list-style: square;
 position: absolute;
 margin-top: -5%;
 
}

a{
 color:#DBE1EE;
 position: absolute;
 background-color:#5B2F9A;
 font-size: 47px;
width:300px;
margin-top: 160%;




}

a:hover{
 color:#e8adff;
}

.li1 {
background-color: rgb(212, 222, 231);
margin-bottom: 2%;
height:150px;
}

.li2 {
background-color: rgb(212, 222, 231);
margin-bottom: 2%;
height:150px;
}

.li3 {
background-color: rgb(212, 222, 231);
margin-bottom: 2%;
height:150px;
}

.li4 {
background-color: rgb(212, 222, 231);

height:150px;
}
 .navlink {

position: absolute;

 }
