

* {
  margin: 0%;
  padding: 0%;

}

body {
  align-items: flex-start;
  height:0px;
  width: 0px;
  z-index: -5;
}
@font-face {
  font-family: Jockey One; /* set name */
  src: url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap')}


.font-link{
  font-family: Jetbrains Mono;
}
/* style navbar */
.navToggle {
  width: 70px;
  height: 70px;
margin-top: 1%;
margin-left: 0.4%;
  position:absolute;
  z-index: 2;

}

.navline {
  background-color: black;
  width: 50px;
  height: 10px;
  margin-bottom: 9%;
  
}

.navButton {
  background-color: #ffffff00;
}

.navButton:hover {
  border-color: #ffffff00;
}
/*nav {
  height: 840px;
  width: 500px;
  background-color: #444444;
  padding: 2%;
  padding-right: 4%;

font-family: Jockey One;

}*/
.navopen{
  height: 800px;
  width: 500px;
  background-color: #444444;
  padding: 2%;
  padding-right: 2%;
opacity:100%;
font-family: Jockey One;
margin-left: 6%;
margin-top: 2.6%;
  transition: all 0.5s ease-in-out;
  position: absolute;
 z-index: 1;
}


.navclose{
  height: 800px;
  width: 500px;
  background-color: #444444;
  padding: 2%;
  padding-right: 4%;
opacity:0%;
font-family: Jockey One;

   transition: all 0.5s ease-in-out;
margin-left: -50%;
margin-top: 2.6%;
position: absolute;

}
.navclose > * {
  transition: all .1s ease-in-out;
  visibility: hidden;
  height:0px;
  width:0px;
  opacity: 0%;
}

.navopen > * {
  transition: all .5s ease-in-out;
  opacity: 100%;
  visibility: visible;
}

.navText{
  color:#DBE1EE;
  text-align: center;
position: absolute;
margin-left: 4.5%;
margin-top: 7.5%;
margin-bottom: 5%;
background-color:#5B2F9A;
width: 450px;

}

.navMenuBox {
    background-color: #F0F0F0;
  height:150px;


   margin-bottom: 2%;
   width: 450;
}

.cube {
  height: 70px;
  width:70px;
  background-color: #F0F0F0;
  position: absolute;
  margin-top: 2.5%;
  margin-left: 1.5%
};

ul{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 75px;
 width:500px;
}
.ulFlex{
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
li{

  margin-left: 28%;
 color:#5B2F9A;
 font-size: 190px;
 list-style: square;
 position: absolute;
 margin-top: -12.5%;
 
}

a{
 color:#DBE1EE;
 position: absolute;
 background-color:#5B2F9A;
 font-size: 44px;
width:300px;
margin-top: 160%;
padding-left: 30%;
height: 65px;
padding-bottom: 3%;



}

a:hover{
 color:#e8adff;
}

.li1 {
background-color: #EEF3FF;
margin-bottom: 2%;
height:150px;
}

.li2 {
background-color: #DBE1EE;
margin-bottom: 2%;
height:150px;
}

.li3 {
background-color: #C9D4EB;
margin-bottom: 2%;
height:150px;
}

.li4 {
background-color: #A5B7DE;

height:150px;
}
 .navlink {

position: absolute;

 }
 .entireNav{

  margin: 0%;
 }

@keyframes slideLeft {
  from {margin-left: 3%;}
  to {margin-left: -40%;}
}
 /*homepage*/

 .homepage{
    width:100%;
    height: 100%;
    background-color: #DBE1EE;
position:absolute;
z-index: 0;
}

.imgcontainer {
display: flex;
height: 50%;
width: 100%;
flex-wrap: nowrap;
flex-direction: row;
}

.h_img1 {
height: 100%;
width: 100%;
}

.h_img2 {
  height: 100%;
width: 100%;
}

.h_img3 {
  height: 100%;
width: 100%;
}

.homepagepic {
height: 350px;
width: 350px;
border-radius: 50%;
position: absolute;
z-index: 2;
border: 15px solid white;
margin-top: -10%;
margin-left: 40%;
object-fit: cover;
}

.homepagebox {
  font-family: Jockey One;
  color: #32293F;
}

.homepageh1 {
font-size: 70px;
margin-top: 10%;
margin-left: 44%;
position: absolute;
z-index: 3;
}

.homepageh2{
font-size: 50px;
margin-left: 43%;
position: absolute;
z-index: 3;
margin-top: 14%;
}

/* project pagina */

.projectbody {
  width: 30%;
  height: 100%;
  background-color: #DBE1EE;
  position: absolute;
  z-index: -1;
}

.projectlist {
  width:100%;
  height:100%;
  background-color: #BCC4E8;
  position: absolute;
  z-index: -2;
}

.projecth1 {
  background-color:#32293F ;
  width: 70%;
  margin-top: 2%;
  margin-left: 20%;
  font-family: Jockey One;
  padding-left: 3%;
padding-top: 1%;
padding-bottom: 1%;
}

.propagetext {
  font-family: Jetbrains Mono;
  color: #5B2F9A;
  margin-top: 5%;
  padding: 7%;
  font-size: 20px;
  padding-left: 5%;
}

.filtertitle {
  color: #32293F;
  font-family: Jockey One;
  font-size: 50px;
  margin-left: 5%;
  margin-top: 2%;
  
}

.resetfilter{
   font-family: Jockey One;
   background-color: #DBE1EE;
   font-size: 30px;
   color: #32293F;
   margin-left: -1.3%;

}

.containerProject {
  width: 70%;
  height: 100%;
  z-index: -1;
  margin-left: 30%;
  display: flex;
      flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

/*projectcard */
.cardcontainer {
  width: 400px;
  height: 400px;
}

.cardimg{
  width: 275px;
  height: 275px;
  border: 5px solid #5B2F9A;
}

.projectcard {
  background-color: #32293f00;
  border: 0px;
}

.projectname{
  background-color: #32293F;
  font-family: Jockey One;
  font-size: 28px;
  width: 244px;
  margin-left: 5%;
  padding-left: 10%;
}

/* detail page */
.detailbody {
  width: 75%;
  height: 100%;
  background-color: #dbe1ee;
  position: absolute;
  z-index: -3;
}

.detailimg {
  width: 100%;
  height: 40%;
  border-bottom: solid 20px white;
  object-fit: cover;
}

.detailsidebar{
  background-color: #897EB9;
  width: 33.25%;
  height: 101.39%;
  margin-left: 100%;
  z-index: -2;
  position: absolute;
  margin-top: -32.5%;
}

.sidebardivider{
  background-color: #5B2F9A;
  width: 80%;
  height: 7%;
  margin-left: 11%;
  margin-top: 5%;
}

.sidebarimg{
  width: 175px;
  height: 175px;
  margin-left: 30%;
  margin-top: 3%;
}

.sidebartitle{
  font-family: Jockey One;
  font-size: 40px;
  padding-left: 20%;
}

.sblink {
position: absolute;
z-index: -1;
margin-top: 0%;
background-color: #44444400;
}

/*over mij*/

.aboutbody{
height: 945px;
width: 1920px;
  background-color: #C9D4EB;

}

.aboutsidebar{
  background-color: #DBE1EE;
  width: 35%;
  height: 100%;
}

.aboutimg {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

/*contact */